body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #7b8dff;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	colbody {
	
    }
    
    #banner {
        width:100%;
    }
    
    .principal{
        background: #a081ff;
        padding: 30px;
    }
    
    .titulo-principal {
        padding-left: 20px;
    }
    
    .titulo-centralizado {
        text-align: center
    }
    
    p {
        text-align: center;
    }
    
    #missao {
        font-size: 20px
    }
    
    em strong {
        color: #8dd6f8;
    }
    
    .itens {
        font-style: italic
    }
    
    .beneficios {
        background: #c0d8f3;
        padding: 20px;
    }
    
    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
    }
    
    .imagembeneficios {
        width: 50%;
    }or: #036983;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #a9e9f1;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}